/**
 * STYLE MIXINS
 * styles/_variables.scss
 */

/**
 * ROOT STYLES
 */
:root {
  font-size: 16px;

  /* REFERENCE COLORS */
  --baby-blue: #bdd6e6;
  --black: #1a1a1a;
  --classic-blue: #0F4C81;
  --white: #f5f5f5;
  --transparent: transparent;
  --yellow: #f6eb61;
  --sand: #f9f8f1;

  /* DEFAULT COLORS */
  --background-color: var(--white);
  --text-color: var(--black);

  /* SPACING */
  --space-0: 0rem;
  --space-1: 0.5rem;
  --space-2: 1.0rem;
  --space-3: 1.5rem;
  --space-4: 2.0rem;
  --space-5: 2.5rem;
  --space-6: 3.0rem;

  /* WIDTHS */
  --max-width: 999px;
}
