// _variables.scss

:root {
  // Colors
  --baby-blue: #bdd6e6;
  --black: #151515;
  --classic-blue: #0F4C81;
  --white: #fff;
  --transparent: transparent;
  --yellow: #f6eb61;

  // Styling
  --background-color: var(--white);
  --text-color: var(--black);

  // Spacing
  --spacing-extra-extra-large: 8rem;
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: .5rem;
  --spacing-extra-small: .25rem;
  --spacing-none: 0rem;

  // Width
  --max-width: 999px;
}
