/**
 * FONTS
 * styles/fonts.scss
 */

@font-face {
  font-family: 'Soehne';
  font-display: fallback;
  src: url('/fonts/soehne-web-leicht.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Soehne';
  font-display: swap;
  src: url('/fonts/soehne-web-buch.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Soehne';
  font-display: swap;
  src: url('/fonts/soehne-web-buch-kursiv.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Soehne';
  font-display: fallback;
  src: url('/fonts/soehne-web-kraftig.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
