/**
 * GLOBAL STYLES
 * styles/global.scss
 */

/**
 * IMPORTS
 */
@import 'variables';
@import 'mixins';

/**
 * TAG STYLES
 */
body {
  color: var(--text-color);
  font-family: Soehne, Helvetica, Arial, sans-serif;
}

main {
  height: 100%;
  min-height: 100vh;
  padding: 0 var(--space-1);
  position: relative;
  z-index: 1;
}

section {
  padding: var(--space-6) 0;
}

section:last-child {

}

h1 {
  font-size: 3em;
  font-weight: 600;
  margin: var(--space-6) 0;
}
h2 {
  font-size: 2.25em;
  font-weight: 600;
  // letter-spacing: -0.05em;
  line-height: 1;
  margin: var(--space-5) 0;
}
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 {
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

::selection {
  background: yellow;
}
::-moz-selection {
  background: yellow;
}

p, li {
  font-size: 1em;
  font-weight: 400;
  // letter-spacing: 0.025rem;
  line-height: 1.5em;
}

p {
  margin: var(--space-3) 0;
}

ol, ul {
  list-style-position: outside;
  margin: var(--space-2) 0;
  padding-left: var(--space-4);
}

ol {
  list-style-type: decimal;
}

li {
  padding-left: var(--space-1);
}

a, a:active, a:visited {
  border-bottom: 2px dotted;
  color: inherit;
  display: inline-block;
  line-height: 95%;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

a:hover {
  transform: translateY(-1px);
}

sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}
sub {
 bottom: -.25em;
}
sup {
 top: -.5em;
}

em {
  font-style: italic;
}

pre {
  margin: var(--space-4) 0 !important;
}

code {
  font-family: Consolas, Monaco, monospace;
  font-size: .8rem;
  line-height: 1.25;
}
