// styles/Layout.scss

@import 'mixins';

.wrap {
  background-color: var(--classic-blue);
  bottom: 0;
  font-size: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 0;
}

.line {
  display: inline-block;
  height: 100%;
  padding: var(--spacing-none);
  position: relative;
  vertical-align: top;
  width: calc(100% / 12 * 1);
  @include for-not-small {
    width: calc(100% / 12 * 2) !important;
  }
  &.wide {
    width: calc(100% / 12 * 5);
  }
}

.line::after {
  border-right: 1px solid var(--baby-blue);
  bottom: 0;
  content: '';
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform 1.2s cubic-bezier(.45,.05,.55,.95);
  position: absolute;
}

.ready .line::after { transform: scaleY(1); }

.line:nth-child(1)::after { transition-delay: .3s; }
.line:nth-child(2)::after { transition-delay: .6s; }
.line:nth-child(3)::after { transition-delay: .9s; }
.line:nth-child(4)::after { transition-delay: 1.2s; }
.line:nth-child(5)::after { transition-delay: 1.5s; }
.line:last-child::after { content: none; }

main {
  height: 100%;
  max-width: 32rem;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

section {
  margin-top: var(--spacing-extra-extra-large);
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; font-weight: 500; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }
